<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="%{_csrf.token}">
    <meta name="_csrf_header" th:contnent="${_csrf.headerName}">
    <title th:if="${pageTitle != null}" th:text="${pageTitle}"></title>
<!-- 전체 공유 부분 -->
    <link rel="stylesheet" type="text/css" th:href="@{/common/css/style.css}">
    <link rel="stylesheet" type="text/css" th:each="file : ${addCommonCss}"
          th:href="@{/front/css/{file}.css(file=${file})}">

<!--관리자 공용 -->
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/style.css}">
    <link rel="stylesheet" type="text/css" th:each="file : ${addCss}"
          th:href="@{/admin/css/{file}.css(file=${file})}">

    <th:block layout:fragment="addCss"></th:block>

    <!-- 전제 공용 , common -->
    <script th:src="@{/front/js/common.js}"></script>
    <script th:each="file : ${addCommonScript}" th:src="@{/common/js/{file}.js(file=${file})}"></script>


    <!-- 관리자 공용 , admin -->
    <script th:src="@{/admin/js/common.js}"></script>
    <script th:each="file : ${addScript}" th:src="@{/admin/js/{file}.js(file=${file})}"></script>

    <th:block layout:fragment="addScript"></th:block>
    <main>
        <aside th:replace="~{admin/outlines/_side::menu}"></aside>
        <section>
            <th:block th:replace="~{admin/commons/_submenu::menus}"></th:block>
            <section layout:fragment="content"></section>
        </section>
    </main>
</head>
<body>
<header th:replace="~{admin/header::common}"></header>
<main layout:fragment="content"></main>
<footer th:replace="~{admin/footer::common}"></footer>
<iframe name="ifrmProcess" class="dn"></iframe>
</body>
</html>