<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mobile/layouts/main}">

<main layout:fragment="content">
    <form method="post" th:action="@{/member/login}">
        <div class="rows">
            <input type="text" name="email" th:placeholder="#{이메일}">
        </div>
        <div class="rows">
            <input type="password" name="password" th:placeholder="#{비밀번호}">
        </div>
        <button type="submit" th:text="#{로그인}"></button>
    </form>
</main>

</html>